<!-- PAST RIDE SECTION -->
<infinite-carousel></infinite-carousel>
<main role="main" class="container">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">{{ landingPageheaderTitle }}
        <span class="text-muted">{{ landingPageheaderSubTitle }}</span>
      </h2>
      <p class="lead">{{ landingPageheader }}
      </p>
      <a href="/about">{{ aboutUS }}</a>
    </div>
    <div class="col-md-3">
      <iframe allowtransparency frameborder='0' height='200' scrolling='no' [src]="stravaURL | safe" width='250'></iframe>
    </div>
  </div>
  <!-- //sesh 5 -->
  <div *ngFor="let writeups of laspaganWriteupArray">
      <hr class="featurette-divider">
      <div class="row featurette">
          <div class="col-md-9">
              <h2 class="featurette-heading">{{ writeups.laspaganTitle }}
                  <span class="text-muted">{{ writeups.laspaganSubTitle }}</span>
              </h2>
              <p class="lead">{{ writeups.laspaganContent }}</p>                
              <p class="lead"><b>{{ writeups.laspaganauthoreditors }}</b></p>
              <a [href]='writeups.laspagan4link'>{{ readMore }}</a>
          </div>
          <div class="col-md-3">
              <img class='featurette-image img-fluid mx-auto' [src]='writeups.laspaganThumbnail | safe' alt='Generic placeholder image'
                  height='50%'>
          </div>
      </div>
  </div>
</main>
<link-footer></link-footer>