<!-- PAST RIDE SECTION -->
<infinite-carousel></infinite-carousel>
<main role="main" class="container">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">{{ landingPageheaderTitle }}
        <span class="text-muted">{{ landingPageheaderSubTitle }}</span>
      </h2>
      <p class="lead">{{ landingPageheader }}
      </p>
      <a href="//about">{{ aboutUS }}</a>
    </div>
    <div class="col-md-3">
      <iframe allowtransparency frameborder='0' height='200' scrolling='no' [src]="stravaURL | safe" width='250'></iframe>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">{{ firstDividerTitle }}
        <span class="text-muted">{{ firstDividerSubTitle }}</span>
      </h2>
      <p class="lead">{{ firstDividerContent }}</p>
      <a [href]='firstDividerlink'>{{ readMore }}</a>
    </div>
    <div class="col-md-3">
      <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">{{ secondDividerTitle }}
        <span class="text-muted">{{ secondtDividerSubTitle }}</span>
      </h2>
      <p class="lead">{{ secondDividerContent }}</p>
      <a [href]='secondDividerlink'>{{ readMore }}</a>
    </div>
    <div class="col-md-3">
      <img class="featurette-image img-fluid mx-auto" [src]='secondDividerThumbnail | safe' alt="Generic placeholder image"
        height="50%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 blog-main">
    </div>
  </div>
</main>
<link-footer></link-footer>