<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <google-route-part></google-route-part>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">View Content</button> 
