
<main role="main" class="container">
  <ridelibrary-modal></ridelibrary-modal>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ pageTitle }}</h1>
      <p class="lead text-muted">{{ pageDescription }}</p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let libraryItem of ridelibraryThumbnails">
          <div class="card mb-4 box-shadow">
            <img class="librarythumbnail" [src]='libraryItem.rlThumbnail' />
            <div class="card-body">
              <p>{{ libraryItem.rlEventName }}</p>
              <p class="card-text">{{ libraryItem.rlEventDescription }}</p>
              <!-- <a class="card-text">Date: </a> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <googlemap-modal [inputPartString]='libraryItem.rlEventName'></googlemap-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<link-footer></link-footer>