<main role="main" class="container">

  <hr class="featurette-divider">
  <div class="row featurette">
    <div  >
      <h2 class="featurette-heading">About us: <span class="text-muted"></span></h2>
      <p class="lead">Waiting for something good is certainly a good thing. DEVSHIFT started out as a mere concept in 2013, of riding out with like minded people and experience the sheer beauty of nature. Great concept we might add, but it took another good chunk of time before the we could ride for the very first time.</p>
      <p class="lead">
        Alas the concept materialized starting with several ride sessions and a climb to Kaybiang. Recalling our desire for a group we sent invites to friends not knowing what to expect. But to our surprise there are also people that happily share our passion. And on Feb 2 2018 we had our very first group ride.</p> 
        <p class="lead">       
        So there you have it, 5 years in the making from concept to first ride. As for the name we initially wanted to call ourselves “SouthBoys” but it didn’t ring a lot of bells, instead we combined 2 words from our work and passion which are Developer + Shifting (changing of gears) making DEVSHIFT. </p> 
        <p class="lead"> 
        We are very much a diverse group of people with varying backgrounds and experiences however what binds us together is our genuine love for cycling and a longing to explore God’s creation</p> 
        <p class="lead"> 
        Let’s Ride!</p> 
        <p class="lead"> 
        DEVSHIFT</p> 
        <h3 class="featurette-heading">Est. 2018</h3> 
    </div>
    <!-- <div class="col-md-3">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/2ndSticker.jpg" alt="Generic placeholder image" height="50%">
    </div> -->
  </div>
</main>
<link-footer></link-footer>