<main role="main" class="container">
     <!-- //sesh 5 -->
     <hr class="featurette-divider">
     <div class="row featurette">
         <div class="col-md-9">
             <h2 class="featurette-heading">{{ firstDividerTitle }}
                 <span class="text-muted">{{ firstDividerSubTitle }}</span>
             </h2>
             <p class="lead">{{ firstDividerContent }}</p>
             <a [href]='firstDividerlink'>{{ readMore }}</a>
         </div>
         <div class="col-md-3">
             <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
         </div>
     </div>
    <!-- //sesh 4 -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">{{ firstDividerTitle }}
                <span class="text-muted">{{ firstDividerSubTitle }}</span>
            </h2>
            <p class="lead">{{ firstDividerContent }}</p>
            <a [href]='firstDividerlink'>{{ readMore }}</a>
        </div>
        <div class="col-md-3">
            <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
        </div>
    </div>
    <!-- //sesh 3 -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">{{ firstDividerTitle }}
                <span class="text-muted">{{ firstDividerSubTitle }}</span>
            </h2>
            <p class="lead">{{ firstDividerContent }}</p>
            <a [href]='firstDividerlink'>{{ readMore }}</a>
        </div>
        <div class="col-md-3">
            <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
        </div>
    </div>
    <!-- //sesh 2 -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">{{ firstDividerTitle }}
                <span class="text-muted">{{ firstDividerSubTitle }}</span>
            </h2>
            <p class="lead">{{ firstDividerContent }}</p>
            <a [href]='firstDividerlink'>{{ readMore }}</a>
        </div>
        <div class="col-md-3">
            <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
        </div>
    </div>
    <!-- //sesh 1 -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">{{ firstDividerTitle }}
                <span class="text-muted">{{ firstDividerSubTitle }}</span>
            </h2>
            <p class="lead">{{ firstDividerContent }}</p>
            <a [href]='firstDividerlink'>{{ readMore }}</a>
        </div>
        <div class="col-md-3">
            <img class='featurette-image img-fluid mx-auto' [src]='firstDividerThumbnail | safe' alt='Generic placeholder image' height='50%'>
        </div>
    </div>
</main>