<div class="flowt-left">
    <h1 class="display-3 font-italic f-white">devshift: </h1>
    <h3 class="display-4 font-italic f-orang">spin all day</h3>
</div>
    <ui-carousel [infinite]="true" [fade]="false" [speed]="200" height="500px" width="100%">
        <ui-carousel-item>
            <div align="center" class="margtop-20">
                <img src="./assets/images/slider/lsp1.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-40">
                <img src="./assets/images/slider/lsp2.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-40">
                <img src="./assets/images/slider/lsp3.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-40">
                <img src="./assets/images/slider/lsp5.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center">
                <img src="./assets/images/slider/lsp7.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-40">
                <img src="./assets/images/slider/lsp8.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center">
                <img src="./assets/images/slider/lsp10.jpg" class="sliderCenter" />
            </div>
        </ui-carousel-item>
    </ui-carousel>
