<main role="main" class="container">
    <div class="flowt-left">
        <!-- <h4 class="display-3 font-italic f-white">devshift: </h4>
        <h4 class="display-4 font-italic f-orang">spin all day</h4>  -->
    </div>
    <ui-carousel [infinite]="true" [fade]="false" [speed]="50" height="400px" width="85%">
        <ui-carousel-item>
            <div align="center" class="margtop-30">
                <img src="/assets/images/slider/lsp1.jpg" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" >
                <img src="/assets/images/slider/lsp2.jpg" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-10">
                <img src="/assets/images/slider/lsp4.jpg" />
            </div>
        </ui-carousel-item>
        <ui-carousel-item>
            <div align="center" class="margtop-30">
                <img src="/assets/images/slider/lsp5.jpg" />
            </div>
        </ui-carousel-item>
        </ui-carousel>
</main>